/* * { outline:solid 1px red} */

*,
*::after,
*::before {
	box-sizing: border-box;
}

:root {
	font-size: 18px;
}

html {
	/* cursor:none; */
	/* width: 100%; */
	/* overflow: hidden; */
	
}

/* html,  */
/* body,  */
/* main {
	height: 100vh;
	width: 100%;
	position: relative;
	overflow-x: hidden;
	overflow-y: hidden;
} */



body {
	margin: 0;
	--color-text: #1f1e1d;
    --color-bg: #ffff;
    --color-link: #ff0101;
	--color-link-hover: #fc6565;
	--color-content-title-sub: #292828;
    color: var(--color-text);
    background-color: #fff;
    --cursor-stroke: #6b5537;
    --cursor-fill: none;
    --cursor-stroke-width: 1px;
	font-family: futura, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-x: hidden;
}


a {
	text-decoration: underline;
	color: var(--color-link);
	outline: none;
	text-decoration: none;
	font-weight: bold;
	text-transform: uppercase;
}

a:hover,
a:focus {
	text-decoration: none;
	color: var(--color-link-hover);
	outline: none;
}

h1 {
	color: rgba(0, 0, 0, 0.603);
}

h2 {
	font-size: 1.5vh;
	color:rgba(233, 16, 16, 0.815);
}

/* Page Loader */
.js .loading::before,
.js .loading::after {
	content: '';
	position: fixed;
	z-index: 1000;
}

.js .loading::before {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--color-bg);
}

.js .loading::after {
	top: 50%;
	left: 50%;
	width: 60px;
	height: 60px;
	margin: -30px 0 0 -30px;
	border-radius: 50%;
	/* opacity: 0.4; */
	background: var(--color-link);
	animation: loaderAnim 0.7s linear infinite alternate forwards;

}

@keyframes loaderAnim {
	to {
		opacity: 1;
		transform: scale3d(0.5,0.5,1);
	}
}

/* .message {
	position: relative;
	z-index: 100;
	text-align: center;
	background: var(--color-text);
	color: var(--color-bg);
	padding: 1rem;
	font-size: 0.85rem;
	position: relative;
} */

/* .no-select {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
} */

.frame {
	/* padding: 3rem 5vw;
	text-align: center;
	position: relative;
	z-index: 1000; */
}

.frame__title {
	font-size: 1.5rem;
	margin: 0 0 0.5rem;
	font-weight: bold;
	position: relative;
}

.frame__links {
	display: inline;
}

.frame__links a:not(:last-child),
.frame__demos a:not(:last-child) {
	margin-right: 1rem;
}

/* .frame__demos {
	margin: 1rem 0;
}

.frame__demo--current,
.frame__demo--current:hover {
	color: var(--color-text);
	text-decoration: none;
} */

.content {
	display: flex;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
	max-height: 100%;
	/* height: calc(100vh - 13rem); */
	position: relative;
	align-items: center;
	justify-content: center;
	
	overflow-y: hidden;
	overflow-x: hidden;
}

/* .grid {
	pointer-events: none;
	position: absolute;
	width: 110%;
	height: 110%;
	top: -5%;
	left: -5%;
	display: grid;
	grid-template-columns: repeat(fr,fr);
	grid-template-rows: repeat(fr,fr);
} */

.grid__item {
	position: relative;
}

.grid--img .grid__item {
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	will-change: transform;
}

.grid__item-img {
	position: relative;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: 50% 50%;
}

.grid--img .grid__item-img {
	flex: none;
	width: calc(100% + 100px);
	height: calc(100% + 100px);
	will-change: transform;
}

/* Shorthand grid-area: grid-row-start / grid-column-start / grid-row-end / grid-column-end */

.pos-1 {
	grid-area: 10 / 1 / 26 / 7;
}

.pos-2 {
	grid-area: 5 / 18 / 20 / 30;
}

.pos-3 {
	grid-area: 5 / 26 / 18 / 55;
}

.pos-4 {
	grid-area: 18 / 11 / 32 / 24;
}

.pos-5 {
	grid-area: 13 / 24 / 17 / 32;
}

.pos-6 {
	grid-area: 20 / 46 / 28 / 51;
}

.pos-7 {
	grid-area: 43 / 1 / 51 / 10;
}

.pos-8 {
	grid-area: 38 / 14 / 46 / 22;
}

.pos-9 {
	grid-area: 40 / 26 / 51 / 32;
}

.pos-10 {
 	grid-area: 37 / 39 / 48 / 47;
}

.pos-11 {
	grid-area: 27 / 5 / 33 / 15;
}

.pos-12 {
	grid-area: 15 / 43 / 23 / 33;
}

.content__title {
	font-family: sans-serif;
	color: rgba(0, 0, 0, 0.418);
	font-weight: bold;
	font-size: 7vw;
	margin: 0;
	line-height: 1;
	position: relative;
	z-index: -9999;
	text-align: center;
}

.content__title-sub {
	color: rgba(0, 0, 0, 0.418);
	font-size: 1.5vw;
	display: block;
	margin-left: 3vw;
	line-height: 0.5;
	z-index: -9;
	text-align: center;
}


.parent {

	display: flex;
	flex-direction: column;
	justify-content: space-around;
    align-items: center;
	justify-content: center;
	
  }
  .img {
	width: 90%;
	min-height: 400px;
	padding: 2rem;
	margin-top: 2rem;
	/* max-width: 200px; */
  }
  
  .txt {
	width: auto;
	padding: 2rem;
	min-height: 500px;
	color: #222;
	
	
  }



  /* .parent {
	margin-top: 7rem;
	padding-top: 2rem;
	
	flex-direction: row;
	
	width: 100%;
	
  } */
  
  .img {
	/* width: 30%; */
	/* padding: 2em; */
	
  }
  
  .txt {
	/* width: 30%; */

	
  }













.cursor {
	display: none;
}

























.landing-img {
	filter: drop-shadow(0px 10px 10px rgb(102, 103, 104)); 
}










@media screen and (min-width: 53em) {
	/* .message {
		display: none;
	} */
	.frame {

		padding: 3rem 5vw;
		text-align: center;
		position: relative;
		z-index: 1000;

		position: absolute;
		text-align: left;
		z-index: 100;
		top: 0;
		left: 0;
		display: flex;
		align-content: space-between;
		width: 100%;
		max-width: none;
		height: 4rem;
		padding: 2rem;
		pointer-events: none;
		flex-direction: column;
		flex-wrap: wrap;
		align-items: baseline;
		justify-content: center;


		/* grid-template-columns: 75% 25%;
		grid-template-rows: auto auto auto;
		grid-template-areas: 'title links'
							'... ...'
							'... demos'; */
	}
	.frame__title-wrap {
		grid-area: title;
		display: flex;
	}
	.frame__title {
		margin: 0;
	}
	.frame__tagline {
		position: relative;
		margin: 0 0 0 1rem;
		padding: 0 0 0 1rem;
		opacity: 0.5;
	}
	.frame__demos {
		margin: 0;
		grid-area: demos;
		justify-self: end;
	}
	.frame__links {
		grid-area: links;
		padding: 0;
		justify-self: end;
	}
	.frame a {
		pointer-events: auto;
	}
	.content {
		height: 100%;
		justify-content: center;
		max-height: 100vh;
		

		display: flex;
		flex-direction: column;
		width: 100vw;
		height: 100vh;
		max-height: 100%;
		/* height: calc(100vh - 13rem); */
		position: relative;
		align-items: center;
		justify-content: center;
		
		overflow-y: hidden;
		overflow-x: hidden;

	}


	.grid {
		/* pointer-events: none; */
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		display: grid;
		grid-template-columns: repeat(50,2%);
	grid-template-rows: repeat(50,2%);
	}
	
	.grid__item {
		position: relative;
	}
	
	.grid--img .grid__item {
		overflow: hidden;
		display: flex;
		align-items: center;
		justify-content: center;
		will-change: transform;
	}
	
	.grid__item-img {
		position: relative;
		width: 100%;
		height: 100%;
		background-size: cover;
		background-position: 50% 50%;
		border-radius: 3%;
	}
	
	.grid--img .grid__item-img {
		flex: none;
		width: calc(100% + 50px);
		height: calc(100% + 50px);
		will-change: transform;
	}




	.pos-1 {
		grid-area: 2 / 4 / 20 / 14;
	}
	.pos-1t {
		grid-area: 9 / 15 / 20 / 18;
	}
	
	
	.pos-2 {
		grid-area: 4 / 18 / 20 / 30;
	}
	.pos-2t {
		grid-area: 3 / 32 / 19 / 35;
	}
	
	.pos-3 {
		grid-area: 3 / 38 / 26 / 46;
		z-index: -998;
	}
	.pos-3t {
		grid-area: 16 / 47 / 26 / 50;
		z-index: -998;
	}


	
	.pos-4 {
		grid-area: 13 / 11 / 32 / 18;
	}
	
	
	
	.pos-6 {
		grid-area: 20 / 46 / 28 / 51;
	}
	
	.pos-7 {
		grid-area: 30 / 2 / 49 / 12;
	}
	.pos-7t {
		grid-area: 46 / 3 / 49 / 12;
	}

	
	.pos-8 {
		grid-area: 32 / 14 / 46 / 26;
	}
	.pos-8t {
		grid-area: 32 / 15 / 46 / 26;
	}
	
	.pos-9 {
		grid-area: 32 / 31 / 49 / 37;
		z-index: -99;
	}
	.pos-9t {
		grid-area: 46 / 35 / 49 / 37;
		z-index: -99;
	}
	
	.pos-10 {
		 grid-area: 31 / 39 / 47 / 50;
	}
	.pos-10t {
		grid-area: 32 / 46 / 48 / 49;
   }

	
	.pos-11 {
		grid-area: 18 / 8 / 31 / 17;
		z-index: -999;
	}
	.pos-11t {
		grid-area: 28 / 14 / 32 / 21;
		z-index: -999;
	}
	
	.pos-12 {
		grid-area: 9 / 29 / 21 / 40;
		z-index: -99;
	}
	.pos-12t {
		grid-area: 23 / 34 / 25 / 40;
		z-index: -99;
	}












	main {
		height: 100vh;
		width: 100%;
		position: relative;
		overflow-x: hidden;
		overflow-y: hidden;
	}



	.parent {
		margin-top: 7rem;
		padding-top: 2rem;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		width: 100%;
		
	  }
	  
	  .img {
		width: 24%;
		padding: 2em;
		color: #ffffff;
		height: 70vh;
		/* min-height: 800px; */
	  }
	  
	  .txt {
		width: 33%;
		padding: 3rem;
		/* min-height: 500px; */
		color: #222;
		
	  }
	  
	



}


















@media (any-pointer: fine) {
	.cursor {
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		pointer-events: none;
	}
	.cursor__inner {
		fill: var(--cursor-fill);
		stroke: red;
		stroke-width: 1px;
	}
}


/* cursor */
/* 
.cursor {
	position: absolute;
	top: 300px;
	left: 320px;
	width: 60px;
	height: 60px;
	background-color: rgb(253, 1, 1);
	border-radius: 50%;
	margin-top: -6px;
	margin-left: -5px;
	filter: blur(15px);
	overflow: hidden;
}
.cursor:after {
	position: absolute;
	display: block;
	content: '';
	width: 30px;
	height: 30px;
	background: rgb(250, 0, 0);
	border-radius: 50%;
	transform-origin: 50px 50px;
	transform: rotate(50px);
	animation: rotate 3.5s ease-in-out infinite;
	filter: blur(3px);
}
.cursor:before {
	position: absolute;
	display: block;
	content: '';
	width: 40px;
	height: 40px;
	background: rgb(255, 0, 0);
	border-radius: 50%;
	transform-origin: 30px 30px;
	transform: rotate(300px);
	animation: rotate 3.5s ease-in-out 2s infinite;
	filter: blur(3px);
}
/* .frame {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: black;
	filter: contrast(30);
} */
@keyframes rotate {
	from {
		transform: rotate(0deg);
   }
	to {
		transform: rotate(360deg);
   }
} */
