/* * { outline:solid 1px red} */

*,
*::after,
*::before {
	box-sizing: border-box;
}

:root {
	font-size: 16px;
}

html {
	/* cursor:none; */
	/* width: 100%; */
	/* overflow: hidden; */
	scroll-behavior: smooth;
}

/* html,  */
/* body,  */
/* main {
	height: 100vh;
	width: 100%;
	position: relative;
	overflow-x: hidden;
	overflow-y: hidden;
} */













body {
	margin: 0;
	--color-primary: #18181a;
	 --color-secondary: #75757c;
	 --color-dark: #ff0101;
	 --color-light: #f5f5f5;
	 --td: 150ms;
	 --te: cubic-bezier(0.215, 0.61, 0.355, 1);
	--color-text: #C7B8BD;
    --color-bg: #ffff;
    --color-link: #C7B8BD;
	--color-link-hover: #fc6565;
	--color-content-title-sub: #292828;
    color: var(--color-text);
    background-color: #fff;
    --cursor-stroke: #ff0000;
    --cursor-fill: none;
    --cursor-stroke-width: 1px;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-x: hidden;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}


::-moz-selection { /* Code for Firefox */
	color: rgb(61, 58, 58);
	background: rgb(147, 147, 148);
  }
  
  ::selection {
	color: rgb(61, 58, 58);
	background: rgb(147, 147, 148);
  }


a {
	text-decoration: underline;
	color: var(--color-link);
	outline: none;
	text-decoration: none;
	font-weight: bold;
	text-transform: uppercase;
}

a:hover,
a:focus {
	text-decoration: none;
	color: var(--color-link-hover);
	outline: none;
}






h1 {
	color:rgba(233, 16, 16, 0.815);
	font-weight: bold;
	font-size: 2rem;
	margin: 0; 
}

h2 {
	font-size: 1.75rem;
	color:rgba(233, 16, 16, 0.815);
}
h3 {
	font-size: 1.2rem;
	color:rgba(233, 16, 16, 0.815);
}

@media screen and (max-width: 1024px) {

	h3 {
		font-size: 12px;
	}


}

p {
	font-size: 19px;
	line-height: 1.4;
	font-weight: 500;
	letter-spacing: 1.5px;
	color: var(--color-text);
	/* padding: 12px; */
}


.header {
	padding: 4rem 0 4rem 0;
	
}

/* title */



.text-title {
	position: absolute;
	right: 50%;
	transform: translate(50%,0);
	 text-transform: uppercase;
	 font-size: 5rem;
	 font-weight: 700;
	 color: #f5f5f5;
	 text-shadow: 1px 1px 1px #919191,
		 1px 2px 1px #919191,
		 1px 3px 1px #919191,
		 1px 4px 1px #919191,
		 1px 5px 1px #919191,
		 1px 6px 1px #919191,
		 1px 7px 1px #919191,
		 1px 8px 1px #919191,
		 1px 9px 1px #919191,
		 1px 10px 1px #919191,
	 1px 18px 6px rgba(16,16,16,0.4),
	 1px 22px 10px rgba(16,16,16,0.2),
	 1px 25px 35px rgba(16,16,16,0.2),
	 1px 30px 60px rgba(16,16,16,0.4);
 }
 
 
 @media screen and (max-width: 1024px){
	 .text-title {
		 position: absolute;
		 right: 50%;
		 transform: translate(50%,0);
		  text-transform: uppercase;
		  font-size: 3em;
		  font-weight: 700;
		 padding-bottom: 3em;
	  }
 }
 
 




/* Page Loader */
.js .loading::before,
.js .loading::after {
	content: '';
	position: fixed;
	z-index: 1000;
}

.js .loading::before {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--color-bg);
}

.js .loading::after {
	top: 50%;
	left: 50%;
	width: 60px;
	height: 60px;
	margin: -30px 0 0 -30px;
	border-radius: 50%;
	opacity: 0.4;
	background: var(--color-link);
	animation: loaderAnim 0.7s linear infinite alternate forwards;

}

@keyframes loaderAnim {
	to {
		opacity: 1;
		transform: scale3d(0.5,0.5,1);
	}
}

/* .message {
	position: relative;
	z-index: 100;
	text-align: center;
	background: var(--color-text);
	color: var(--color-bg);
	padding: 1rem;
	font-size: 0.85rem;
	position: relative;
} */

/* .no-select {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
} */

.frame {
	/* padding: 3rem 5vw;
	text-align: center;
	position: relative;
	z-index: 1000; */
}

.frame__title {
	font-size: 1.5rem;
	margin: 0 0 0.5rem;
	font-weight: bold;
	position: relative;
}

.frame__links {
	display: inline;
}


@media screen and (max-width: 1024px) {
	.frame__title {
		/* font-size: 2vh;
		margin: auto;
		font-weight: bold;
		position: relative;
		padding: 1em; */
		display: none;
	}


	.frame__links {
		display: none;
	}

}


.frame__links a:not(:last-child),
.frame__demos a:not(:last-child) {
	margin-right: 1rem;
}

/* .frame__demos {
	margin: 1rem 0;
}

.frame__demo--current,
.frame__demo--current:hover {
	color: var(--color-text);
	text-decoration: none;
} */

.content {
	display: flex;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
	max-height: 100%;
	/* height: calc(100vh - 13rem); */
	position: relative;
	align-items: center;
	justify-content: center;
	
	overflow-y: hidden;
	overflow-x: hidden;
}

/* .grid {
	pointer-events: none;
	position: absolute;
	width: 110%;
	height: 110%;
	top: -5%;
	left: -5%;
	display: grid;
	grid-template-columns: repeat(fr,fr);
	grid-template-rows: repeat(fr,fr);
} */

.grid__item {
	position: relative;
}

.grid--img .grid__item {
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	will-change: transform;
}

.grid__item-img {
	position: relative;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: 50% 50%;
}

.grid--img .grid__item-img {
	flex: none;
	width: calc(100% + 100px);
	height: calc(100% + 100px);
	will-change: transform;
}

/* Shorthand grid-area: grid-row-start / grid-column-start / grid-row-end / grid-column-end */

@media screen and (max-width: 1024px) {

	
	
	.grid {
		pointer-events: none;
		position: absolute;
		width: 110%;
		height: 110%;
		top: -5%;
		left: -5%;
		display: grid;
		grid-template-columns: repeat(40,2%);
	grid-template-rows: repeat(50,2%);
	}

	.grid__item-img {
		position: relative;
		width: 100%;
		height: 100%;
		background-size: cover;
		background-position: 50% 50%;
		border-radius: 9%;
	}




.pos-1 {
	grid-area: 5 / 4 / 12 / 18;
	
	/* haircut */
}

.pos-2 {
	grid-area: 4 / 15 / 13 / 35;
	z-index: -5;
	/* queen */
}

.pos-3 { 
	grid-area: 5 / 36 / 17 / 46;
	z-index: -99;
	/* diver */
}

.pos-4 {
	grid-area: 17 / 12 / 23 / 27; 
	/* tie */
}


.pos-5 {
	grid-area: 18 / 24 / 22 / 37;
	z-index: -999;
	/* makeup */
}


.pos-6 {
	grid-area: 31 / 6 / 36 / 22;
	/* bike */
}

.pos-7 {
	grid-area: 40 / 9 / 47 / 26; 
	/* woman sitting */
}



.pos-8 {
	grid-area: 30 / 34 / 43 / 46;
	z-index: -99;
	/* man walking */
}

.pos-9 {
	grid-area: 21 / 34 / 25 / 44;
	z-index: 999;
	/* bag */
}


	.pos-1t {
	grid-area: 13 / 6 / 20 / 24;
}

	.pos-2t {
	grid-area: 17 / 24 / 24 / 45;
	z-index: 999;
}


	.pos-3t {
	grid-area: 13 / 24 / 26 / 44;
	z-index: 998;
}

	.pos-4t {
	grid-area: 30 / 24 / 44 / 40;
	z-index: 99;
}
.pos-5t {
	grid-area: 19 / 6 / 29 / 40;
	z-index: 999;
}
	.pos-6t {
	grid-area: 36 / 6 / 49 / 49;
	z-index: 999;
}
	.pos-7t {
	grid-area: 43 / 30 / 50 / 50;
	z-index: 999;
}






}

.content__title {
	font-family: sans-serif;
	color: rgba(0, 0, 0, 0.815);
	font-weight: bold;
	font-size: 13vw;
	margin: 0;
	line-height: 1;
	position: relative;
	z-index: -9999;
	text-align: center;
}




.content__title-sub {
	color: rgba(0, 0, 0, 0.795);
	font-size: 3vw;
	display: block;
	/* margin-left: 3vw; */
	line-height: 0.5;
	z-index: -9;
	text-align: center;
}


@media screen and (max-width: 1024px) {
	.content__title {
		color: rgba(0, 0, 0, 0.418);
		font-weight: bold;
		font-size: 13vw;
		margin: 0;
		line-height: 1;
		position: absolute;
		z-index: -9999;
		top: 50%;
	}
	.content__title-sub {
		color: rgba(0, 0, 0, 0.418);
		font-size: 2.5vw;
		display: block;
		margin-left: 3vw;
		line-height: 0.5;
		z-index: -9;
		text-align: center;
	}
}



@media screen and (max-width: 1024px) {

	.parent {

		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		align-content: space-around;
		
	  }
	  .img {
		width:100%; 
		max-width: 600px; 
		padding: 2em; 
		height: auto;
	  }
	  
	  .txt {
		width: 95%;
		padding: 1rem;
		color: #222;
		}

	.txt p{
		font-size: 14px;
		line-height: 1.4rem;
	}

	.first-letter{
		font-size: 1.9rem; 
		color: red; 
		font-weight: bold; 
		font-family: serif;
	}

	.first-letter{
		font-size: 2rem; 
		color: red; 
		font-weight: bold; 
		font-family: serif;
	}
	
	
	footer {
	display: flex; 
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	background-color: var(--color-link-hover);
	opacity: 0.98;
	/* margin-top: auto; */
	bottom: 0;
		
	}
	
	footer p {
	color: white;
	font-size: 12px;
	line-height: .5rem;
	}
	
	.footer-left {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	}


}





/* 
@media screen and (min-width: 1024px) {



	.parent {
		margin-top: 7rem;
		padding-top: 2rem;
		display: flex;
		flex-direction: row;
		
		width: 100%;
		
	  }
	  
	  .img {
		width: 500px; 
		height: auto;
		padding: 2em;
		
	  }
	  
	  .txt {
		width: 30%;
	
		
	  }


} */















.cursor {
	display: none;
}







.landing-img {
	filter: drop-shadow(0px 10px 10px rgb(102, 103, 104)); 
	opacity: 1;
}






@media screen and (min-width: 1024px) {
	/* .message {
		display: none;
	} */
	.frame {

		padding: 3rem 5vw;
		text-align: center;
		position: relative;
		z-index: 1000;

		position: absolute;
		text-align: left;
		z-index: 100;
		top: 0;
		left: 0;
		display: flex;
		align-content: space-between;
		width: 100%;
		max-width: none;
		height: 4rem;
		padding: 2rem;
		pointer-events: none;
		flex-direction: column;
		flex-wrap: wrap;
		align-items: baseline;
		justify-content: center;


		/* grid-template-columns: 75% 25%;
		grid-template-rows: auto auto auto;
		grid-template-areas: 'title links'
							'... ...'
							'... demos'; */
	}
	.frame__title-wrap {
		grid-area: title;
		display: flex;
	}
	.frame__title {
		margin: 0;
	}
	.frame__tagline {
		position: relative;
		margin: 0 0 0 1rem;
		padding: 0 0 0 1rem;
		opacity: 0.5;
	}
	.frame__demos {
		margin: 0;
		grid-area: demos;
		justify-self: end;
	}
	.frame__links {
		grid-area: links;
		padding: 0;
		justify-self: end;
	}
	.frame a {
		pointer-events: auto;
	}
	.content {
		height: 100%;
		justify-content: center;
		max-height: 100vh;
		

		display: flex;
		flex-direction: column;
		width: 100vw;
		height: 100vh;
		max-height: 100%;
		/* height: calc(100vh - 13rem); */
		position: relative;
		align-items: center;
		justify-content: center;
		
		overflow-y: hidden;
		overflow-x: hidden;

	}




	.grid {
		/* pointer-events: none; */
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		display: grid;
		grid-template-columns: repeat(50,2%);
	grid-template-rows: repeat(50,2%);
	}
	
	.grid__item {
		position: relative;
	}
	
	.grid--img .grid__item {
		overflow: hidden;
		display: flex;
		align-items: center;
		justify-content: center;
		will-change: transform;
	}
	
	.grid__item-img {
		position: relative;
		width: 100%;
		height: 100%;
		background-size: cover;
		background-position: 50% 50%;
		border-radius: 3%;
	}
	
	.grid--img .grid__item-img {
		flex: none;
		width: calc(100% + 50px);
		height: calc(100% + 50px);
		will-change: transform;
	}




	.pos-1 {
		grid-area: 2 / 4 / 20 / 14;
		/* haircut */
	}
	.pos-2 {
		grid-area: 5 / 20 / 20 / 30;
		/* queen */
	}
	.pos-3 {
		grid-area: 3 / 38 / 26 / 43;
		z-index: -998;
		/* diver */
	}
	.pos-4 {
		grid-area: 18 / 6 / 31 / 15;
		z-index: -99;
		/* tie */
	}
	/* .pos-5 {
		grid-area: 9 / 29 / 21 / 40;
		z-index: -99;
	} */
	.pos-6 {
		grid-area: 30 / 2 / 49 / 12;
		/* bike */
	}
	.pos-7 {
		grid-area: 34 / 18 / 47 / 26;
		/* woman sitting */
	}
	.pos-8 {
		grid-area: 32 / 31 / 49 / 37;
		z-index: -99;
		/* man walking */
	}
	.pos-9 {
		grid-area: 31 / 39 / 47 / 50;
		/* bag */
   }



   .pos-1t {
	grid-area: 9 / 15 / 20 / 20;
	z-index: 999;
}

	.pos-2t {
	grid-area: 12 / 31 / 19 / 38;
	z-index: 999;
}

	.pos-3t {
	grid-area: 26 / 40 / 26 / 50;
	z-index: 999;
}

	.pos-4t {
	grid-area: 12 / 45 / 29 / 49;
	z-index: 999;
}
	.pos-5t {
	grid-area: 23 / 4 / 29 / 40;
	z-index: 999;
}
	.pos-6t {
	grid-area: 37 / 13 / 49 / 49;
	z-index: 999;
}
	.pos-7t {
	grid-area: 42 / 27 / 50 / 50;
	z-index: 999;
}





/* .pos-7t {
	grid-area: 46 / 3 / 49 / 12;
}



.pos-8t {
	grid-area: 32 / 15 / 46 / 26;
}


.pos-9t {
	grid-area: 46 / 35 / 49 / 37;
	z-index: -99;
}


.pos-10t {
	grid-area: 32 / 46 / 48 / 49;
}

.pos-11t {
	grid-area: 28 / 14 / 32 / 21;
	z-index: -999;
} */





	/* .pos-5 {
		grid-area: 9 / 29 / 21 / 40;
		z-index: -99;
	}
	
	
	.pos-11 {
		grid-area: 18 / 8 / 31 / 17;
		z-index: -999;
	}
	
	
	.pos-5 {
		grid-area: 9 / 29 / 21 / 40;
		z-index: -99;
	} */













	main {
		height: 100vh;
		width: 100%;
		position: relative;
		overflow-x: hidden;
		overflow-y: hidden;
	}








	.parent {
		/* margin-top: 3rem; */
		padding-top: 7rem;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100vh;
		
	  }
	  
	  .img {
		width: 45%;
		padding: 2em;
		/* color: #ffffff; */
		height: auto;
		/* min-height: 600px; */
	  }
	  
	  .txt {
		width: 45%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		
		padding: 3rem;
		/* min-height: 500px; */
		color: #222;
		
	  }
	  
	.txt p{
		font-size: 1.2rem;
	}



	  footer {
		display: flex; 
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		padding: 10px;
		background-color: var(--color-link-hover);
		opacity: 0.98;
		margin-top: auto;
		bottom: 0;
		
	}
	
	footer p {
		color: white;
	}
	
	.footer-left {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}



}


















@media (any-pointer: fine) {
	.cursor {
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		pointer-events: none;
	}
	.cursor__inner {
		fill: transparent;
		stroke: red;
		stroke-width: 1px;
	}
}


/* cursor */
/* 
.cursor {
	position: absolute;
	top: 300px;
	left: 320px;
	width: 60px;
	height: 60px;
	background-color: rgb(253, 1, 1);
	border-radius: 50%;
	margin-top: -6px;
	margin-left: -5px;
	filter: blur(15px);
	overflow: hidden;
}
.cursor:after {
	position: absolute;
	display: block;
	content: '';
	width: 30px;
	height: 30px;
	background: rgb(250, 0, 0);
	border-radius: 50%;
	transform-origin: 50px 50px;
	transform: rotate(50px);
	animation: rotate 3.5s ease-in-out infinite;
	filter: blur(3px);
}
.cursor:before {
	position: absolute;
	display: block;
	content: '';
	width: 40px;
	height: 40px;
	background: rgb(255, 0, 0);
	border-radius: 50%;
	transform-origin: 30px 30px;
	transform: rotate(300px);
	animation: rotate 3.5s ease-in-out 2s infinite;
	filter: blur(3px);
}
/* .frame {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: black;
	filter: contrast(30);
} */

/* @keyframes rotate {
	from {
		transform: rotate(0deg);
   }
	to {
		transform: rotate(360deg);
   }
}  */


/* process */
.process {
	max-width: 1024px;
	width: 90%;

	margin: 0 auto;
	
}
.timeline-item {
	padding: 3em 2em 2em;
	position: relative;
	color: rgba(0, 0, 0, 0.7);
	border-left: 2px solid rgba(0, 0, 0, 0.3);
}
.timeline-item p {
	font-size: 1rem;
}
.timeline-item::before {
	content: attr(frage);
	position: absolute;
	left: 1em;
	font-weight: bold;
	top: .2em;
	display: block;
	/* font-family: "Roboto", sans-serif; */
	font-weight: 700;
	font-size: 2rem;
}
.timeline-item::after {
	width: 10px;
	height: 10px;
	display: block;
	top: 1em;
	position: absolute;
	left: -7px;
	border-radius: 10px;
	content: "";
	border: 2px solid rgba(0, 0, 0, 0.3);
	background: white;
}
.timeline-item:last-child {
	border-image: linear-gradient(
			to bottom,
			rgba(0, 0, 0, 0.3) 60%,
			rgba(0, 0, 0, 0)
		)
		1 100%;
}





/* nav */
/* @import url('https://fonts.googleapis.com/css?family=Rubik+Mono+One|Roboto+Mono:400,700&display=swap'); */
 :root {
	 
}
 /* html, body {
	 height: 100%;
}
 body {
	 color: var(--color-dark);
	 font-family: var(--font-family-primary);
	 overflow-x: hidden;
	 position: relative;
}
 h1 {
	 font-size: calc(1.5rem + 4vmin);
	 font-weight: 700;
	 margin-bottom: 2rem;
}
 p {
	 line-height: 1.4;
}
 a {
	 font-weight: 700;
}
 .page-container {
	 display: flex;
	 flex-direction: column;
	 min-height: 100vh;
	 justify-content: center;
	 margin: 0 auto;
	 max-width: 45rem;
	 padding: 1rem;
}
 .page-container > * + * {
	 margin-top: 1.5rem;
} */
 /* .nav-main {
	 align-items: center;
	 display: flex;
	 height: 100%;
	 justify-content: center;
	 left: -100%;
	 position: fixed;
	 transition: left 0s calc(var(--td) * 2), transform 0s calc(var(--td) * 2);
	 width: 100%;
	 z-index: 9999;
}
 .nav-main::before, .nav-main::after {
	 content: '';
	 background-color: var(--color-primary);
	 opacity: 0.97;
	 height: 50%;
	 left: 0;
	 position: absolute;
	 transform: translateX(-110%);
	 transform-origin: 0 50%;
	 transition: transform calc(var(--td) * 2) var(--td) var(--te);
	 width: 100%;
	 z-index: -100;
}
 .nav-main::before {
	 top: 0;
}
 .nav-main::after {
	 bottom: 0;
}
 .nav-main .menu__item {
	 opacity: 0;
	 transform: translateX(-1rem);
	 transition: opacity var(--td) var(--te), transform var(--td) var(--te);
}
 [id="main-navigation-toggle"] {
	 opacity: 0;
	 position: fixed;
	 top: -100%;
}
 [id="main-navigation-toggle"] ~ label {
	 cursor: pointer;
	 position: fixed;
	 right: 1rem;
	 top: 1rem;
	 z-index: 99999;
}
 [id="main-navigation-toggle"] ~ label span {
	 display: block;
	 height: 2rem;
	 padding: 0.5rem;
	 position: relative;
	 transition: transform calc(var(--td) * 3) var(--te);
	 width: 3rem;
}
 [id="main-navigation-toggle"] ~ label span::before, [id="main-navigation-toggle"] ~ label span::after {
	 background-color: var(--color-dark);
	 bottom: 0;
	 content: '';
	 height: 6px;
	 left: 0;
	 margin: auto;
	 position: absolute;
	 right: 0;
	 transition: transform calc(var(--td) * 3) var(--te);
	 top: 0;
	 width: calc(100% - 1rem);
}
 [id="main-navigation-toggle"] ~ label span::before {
	 transform: rotate(0) translateY(-100%);
}
 [id="main-navigation-toggle"] ~ label span::after {
	 transform: rotate(0) translateY(100%);
}
 [id="main-navigation-toggle"]:checked ~ label span {
	 transform: rotate(1turn);
}
 [id="main-navigation-toggle"]:checked ~ label span::before {
	 transform: rotate(45deg);
}
 [id="main-navigation-toggle"]:checked ~ label span::after {
	 transform: rotate(-45deg);
}
 [id="main-navigation-toggle"]:checked ~ .nav-main {
	 left: 0;
	 transition: transform 0s;
}
 [id="main-navigation-toggle"]:checked ~ .nav-main::before, [id="main-navigation-toggle"]:checked ~ .nav-main::after {
	 transform: translateX(0);
	 transition-delay: 0s;
}
 [id="main-navigation-toggle"]:checked ~ .nav-main::after {
	 transition-delay: calc(var(--td) / 2);
}
 [id="main-navigation-toggle"]:checked ~ .nav-main .menu__item {
	 opacity: 1;
	 transform: translateX(0);
	 transition: opacity calc(var(--td) * 2) var(--te), transform calc(var(--td) * 2) var(--te);
}
 [id="main-navigation-toggle"]:checked ~ .nav-main .menu__item:nth-child(1) {
	 transition-delay: calc(var(--td) * 2 * (1 * 0.25));
	 z-index: -1;
}
 [id="main-navigation-toggle"]:checked ~ .nav-main .menu__item:nth-child(2) {
	 transition-delay: calc(var(--td) * 2 * (2 * 0.25));
	 z-index: -2;
}
 [id="main-navigation-toggle"]:checked ~ .nav-main .menu__item:nth-child(3) {
	 transition-delay: calc(var(--td) * 2 * (3 * 0.25));
	 z-index: -3;
}
 [id="main-navigation-toggle"]:checked ~ .nav-main .menu__item:nth-child(4) {
	 transition-delay: calc(var(--td) * 2 * (4 * 0.25));
	 z-index: -4;
}
 [id="main-navigation-toggle"]:checked ~ .nav-main .menu__item:nth-child(5) {
	 transition-delay: calc(var(--td) * 2 * (5 * 0.25));
	 z-index: -5;
}
 .menu {
	 position: relative;
	 text-align: center;
	 z-index: 1;
}
 .menu > .menu__item {
	 font-family: var(--font-family-secondary);
	 font-size: 5vmin;
	 font-weight: bold;
}
 .submenu {
	 left: 0;
	 opacity: 0;
	 position: absolute;
	 transform: translateY(-10%);
	 top: 100%;
	 width: 100%;
	 visibility: hidden;
	 z-index: 2;
}
 .submenu .menu__item {
	 font-family: var(--font-family-primary);
	 font-size: 3.5vmin;
	 width: 100%;
}
 .submenu .menu__link {
	 color: var(--color-secondary);
	 text-shadow: 1px 1px 0 var(--color-primary), 2px 2px 0 var(--color-primary);
}
 .submenu .menu__link::before, .submenu .menu__link::after {
	 display: none;
}
 .menu__item {
	 display: block;
	 position: relative;
}
 .menu__item:hover .menu__link::before, .menu__item:hover .menu__link::after {
	 animation: blink 1s var(--td) steps(1, end) forwards infinite;
	 transform: translateX(calc(100% - 0.5rem));
	 transition-duration: calc(var(--td) * 3);
}
 .menu__item:hover .menu__link::after {
	 transition-delay: calc(var(--td) / 2);
}
 .menu__item:hover .submenu {
	 opacity: 1;
	 transform: translateY(0);
	 transition: transform calc(var(--td) * 2) calc(var(--td) * 3) var(--te), opacity calc(var(--td) * 2) calc(var(--td) * 3) var(--te), visibility 0s calc(var(--td) * 3);
	 visibility: visible;
}
 .menu__link {
	 color: var(--color-dark);
	 display: inline-block;
	 font-weight: normal;
	 overflow: hidden;
	 padding: 0.5rem 1rem 0.125rem;
	 position: relative;
	 text-decoration: none;
	 transition: color var(--td) var(--te), opacity var(--td) var(--te), transform var(--td) var(--te);
	 z-index: 1;
}
 .menu__link::before, .menu__link::after {
	 content: '';
	 background-color: var(--color-light);
	 height: 50%;
	 left: 0;
	 position: absolute;
	 transform: translateX(-110%);
	 transform-origin: 0 50%;
	 transition: transform 0s var(--te);
	 width: 100%;
	 z-index: -1;
}
 .menu__link::before {
	 top: 0;
}
 .menu__link::after {
	 bottom: 0;
}
 .menu:not(:focus-within):not(:hover) .menu__item .menu__link {
	 opacity: 1;
	 transform: translate(0, 0);
}
 .menu__item {
	 --pull: 30%;
}
 .menu__item .menu__link {
	 opacity: 0.25;
	 transition-duration: calc(var(--td) * 3);
	 transform: translate(0, calc(var(--pull) * -1));
}
 .menu__item .submenu .menu__link {
	 opacity: 1;
}
 .menu__item:hover > .menu__link {
	 color: var(--color-secondary);
	 opacity: 1;
	 transform: translate(0, 0);
}
 .menu__item:hover > .menu__link:hover {
	 color: var(--color-light);
	 transition-delay: 0s;
}
 .menu__item:hover ~ .menu__item > .menu__link {
	 transition-duration: calc(var(--td) * 3);
	 transform: translate(0, var(--pull));
}
 @keyframes blink {
	 50%, 100% {
		 opacity: 0;
	}
}
  */


/* ks */

.ksgrid {
    /* width: 90%;
    display: grid;
    grid-gap: 10px 10%;
    grid-template-columns: repeat(2, minmax(20rem, 1fr));
    grid-template-columns: repeat(2, 20%);
    grid-auto-rows: 20px;
    justify-content: center;
    margin: auto; */

    width: 60%;
    display: grid;
    grid-gap: 10px 10%;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 20px;
    justify-content: center;
    margin: 4rem auto auto auto;
	padding-top: 3rem;
    
  }



  @media screen and (max-width: 1024px) {

    .ksgrid {
        width:100%;
        display: flex;
        flex-direction: column;
        padding: 1em;
        
      }

    
	
}
  
  .item {
    background-color: #ffffff;
  }
  
  .photothumb{
    width: 100%;

  }
  
  .title {
    padding: 20px;
   }
  
  .title h3{
    font-size: 1.2em;
    color: #ffffff;
    text-transform: uppercase;
  }
  
  .project .title{
    background-color: #607D8B;
  }
  
  .blog .title{
    background-color: #ff9800;
  }
  
  .photo .title{
    background-color: #f44336;
  }
  
  .desc{
    padding: 10px 10px 5px 10px;
  }
  
  .desc img{
    width: 50%;
    margin: 0 10px 10px 0;
    float: left;
  }
  
  .desc p{
    margin-bottom: 10px;
  }



  /* nav2 */
  


/* body{
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	font-size: 15px;
	line-height: 1.7;
	color: #ececee;
	background-color: #1f2029;
	overflow: hidden;

  background-position: center;
  background-repeat: repeat;
  background-size: 4%;
  height: 100vh;
  width: 100%;
} */
/* .section-center{
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  z-index: 9999;
  text-align: center;
  transform: translateY(-50%);
} */
/* h1{
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: 5vw;
  line-height: 1;
  color: #ffeba7;
  text-align: center;
  -webkit-text-stroke: 2px #ffeba7;
  text-stroke: 2px #ffeba7;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  color: transparent;
} */

[type="checkbox"]:checked,
[type="checkbox"]:not(:checked){
  position: absolute;
  left: -9999px;
}
.menu-icon:checked + label,
.menu-icon:not(:checked) + label{
  position: fixed;
  top: 63px;
  right: 75px;
  display: block;
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
  cursor: pointer;
  z-index: 99999;
}
.menu-icon:checked + label:before,
.menu-icon:not(:checked) + label:before{
  position: absolute;
  content: '';
  display: block;
  width: 30px;
  height: 20px;
  z-index: 9999;
  top: 0;
  left: 0;
  border-top: 2px solid #ececee;
  border-bottom: 2px solid #ececee;
  transition: border-width 100ms 1500ms ease, 
              top 100ms 1600ms cubic-bezier(0.23, 1, 0.32, 1),
              height 100ms 1600ms cubic-bezier(0.23, 1, 0.32, 1), 
              background-color 200ms ease,
              transform 200ms cubic-bezier(0.23, 1, 0.32, 1);
}
.menu-icon:checked + label:after,
.menu-icon:not(:checked) + label:after{
  position: absolute;
  content: '';
  display: block;
  width: 22px;
  height: 2px;
  z-index: 9999;
  top: 10px;
  right: 4px;
  background-color: #ececee;
  margin-top: -1px;
  transition: width 100ms 1750ms ease, 
              right 100ms 1750ms ease,
              margin-top 100ms ease, 
              transform 200ms cubic-bezier(0.23, 1, 0.32, 1);
}
.menu-icon:checked + label:before{
  top: 10px;
  transform: rotate(45deg);
  height: 2px;
  background-color: #ececee;
  border-width: 0;
  transition: border-width 100ms 340ms ease, 
              top 100ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
              height 100ms 300ms cubic-bezier(0.23, 1, 0.32, 1), 
              background-color 200ms 500ms ease,
              transform 200ms 1700ms cubic-bezier(0.23, 1, 0.32, 1);
}
.menu-icon:checked + label:after{
  width: 30px;
  margin-top: 0;
  right: 0;
  transform: rotate(-45deg);
  transition: width 100ms ease,
              right 100ms ease,  
              margin-top 100ms 500ms ease, 
              transform 200ms 1700ms cubic-bezier(0.23, 1, 0.32, 1);
}

.nav{
  position: fixed;
  top: 33px;
  right: 50px;
  display: block;
  width: 80px;
  height: 80px;
  padding: 0;
  margin: 0;
  z-index: 9999;
  overflow: hidden;
  box-shadow: 0 8px 30px 0 rgba(0,0,0,0.3);
  background-color: var(--color-link-hover);
  opacity: 0.98;
  animation: border-transform 7s linear infinite;
  transition: top 350ms 1100ms cubic-bezier(0.23, 1, 0.32, 1),  
              right 350ms 1100ms cubic-bezier(0.23, 1, 0.32, 1),
              transform 250ms 1100ms ease,
              width 650ms 400ms cubic-bezier(0.23, 1, 0.32, 1),
              height 650ms 400ms cubic-bezier(0.23, 1, 0.32, 1);
}
@keyframes border-transform{
    0%,100% { border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%; } 
  14% { border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%; } 
  28% { border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%; } 
  42% { border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%; } 
  56% { border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%; } 
  70% { border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%; } 
  84% { border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%; } 
}

.menu-icon:checked ~ .nav {
  animation-play-state: paused;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  width: 200%;
  height: 200%;
  transition: top 350ms 700ms cubic-bezier(0.23, 1, 0.32, 1),  
              right 350ms 700ms cubic-bezier(0.23, 1, 0.32, 1),
              transform 250ms 700ms ease,
              width 750ms 1000ms cubic-bezier(0.23, 1, 0.32, 1),
              height 750ms 1000ms cubic-bezier(0.23, 1, 0.32, 1);
}

.nav ul{
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  z-index: 6;
  text-align: center;
  transform: translateY(-50%);
  list-style: none;
}
.nav ul li{
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  margin: 10px 0;
  text-align: center;
  list-style: none;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transform: translateY(30px);
  transition: all 250ms linear;
}

.nav ul h2{
	/* font-family: 'Montserrat', sans-serif; */
	font-size: 2vw;
	text-transform: uppercase;
	line-height: 1rem;
	font-weight: 800;
	display: inline-block;
	position: relative;
	color: #fa9494;
	transition: all 250ms linear;
  }


.nav ul li:nth-child(1){
  transition-delay: 200ms;
}
.nav ul li:nth-child(2){
  transition-delay: 180ms;
}
.nav ul li:nth-child(3){
  transition-delay: 160ms;
}
.nav ul li:nth-child(4){
  transition-delay: 140ms;
}
.nav ul li:nth-child(5){
	transition-delay: 120ms;
  }
.nav ul li:nth-child(6){
	transition-delay: 110ms;
  }
.nav ul li:nth-child(7){
	transition-delay: 100ms;
  }
.nav ul li:nth-child(8){
	transition-delay: 90ms;
  }
.nav ul li:nth-child(9){
	transition-delay: 80ms;
  }
.nav ul li:nth-child(10){
	transition-delay: 70ms;
  }
.nav ul li:nth-child(11){
	transition-delay: 60ms;
  }
.nav ul li:nth-child(12){
	transition-delay: 50ms;
  }
  .nav ul li:nth-child(13){
	transition-delay: 40ms;
  }

.nav ul li a{
  /* font-family: 'Montserrat', sans-serif; */
  font-size: 1.5vw;
  text-transform: uppercase;
  line-height: 1.2;
  font-weight: 800;
  display: inline-block;
  position: relative;
  color: #ececee;
  transition: all 250ms linear;
}
.nav ul li a:hover{
  text-decoration: none;
  color: #ffa7a7;
}
.nav ul li a:after{
  display: block;
  position: absolute;
  top: 50%;
  content: '';
  height: 0.45vh;
  margin-top: 1.75vh;
  width: 0;
  left: 0;
  background-color: #46464b;
  opacity: 0.8;
  transition: width 250ms linear;
}
.nav ul li a:hover:after{
  width: 100%;
}


.menu-icon:checked ~ .nav  ul li {
  pointer-events: auto;
  visibility:visible;
  opacity: 1;
  transform: translateY(0);
  transition: opacity 350ms ease,
              transform 250ms ease;
}
.menu-icon:checked ~ .nav ul li:nth-child(1){
  transition-delay: 1400ms;
}
.menu-icon:checked ~ .nav ul li:nth-child(2){
  transition-delay: 1420ms;
}
.menu-icon:checked ~ .nav ul li:nth-child(3){
  transition-delay: 1440ms;
}
.menu-icon:checked ~ .nav ul li:nth-child(4){
  transition-delay: 1460ms;
}
.menu-icon:checked ~ .nav ul li:nth-child(5){
	transition-delay: 1480ms;
  }
  .menu-icon:checked ~ .nav ul li:nth-child(6){
	transition-delay: 1500ms;
  }
  .menu-icon:checked ~ .nav ul li:nth-child(7){
	transition-delay: 1520ms;
  }
  .menu-icon:checked ~ .nav ul li:nth-child(8){
	transition-delay: 1540ms;
  }
  .menu-icon:checked ~ .nav ul li:nth-child(9){
	transition-delay: 1560ms;
  }
  .menu-icon:checked ~ .nav ul li:nth-child(10){
	transition-delay: 1580ms;
  }
  .menu-icon:checked ~ .nav ul li:nth-child(11){
	transition-delay: 1600ms;
  }
  .menu-icon:checked ~ .nav ul li:nth-child(12){
	transition-delay: 1620ms;
  }
  .menu-icon:checked ~ .nav ul li:nth-child(13){
	transition-delay: 1640ms;
  }





@media screen and (max-width: 1024px) {
  .menu-icon:checked + label,
  .menu-icon:not(:checked) + label{
    right: 55px;
	top: 35px;
  }
  
  .nav{
    top: 23px;
  	right: 43px;
  	width: 50px;
  	height: 50px;
  }
  /* h1{
    font-size: 6vw;
    -webkit-text-stroke: 2px transparent;
    text-stroke: 2px transparent;
    -webkit-text-fill-color: #ffeba7;
    text-fill-color: #ffeba7;
    color: #ffeba7;
  } */
  .nav ul li a{
    font-size: 3vh;
  }
  .nav ul li h2{
    font-size: 3vh;
  }
  
}



