 /* * { outline:solid 1px red}  */


*,
*::after,
*::before {
	box-sizing: border-box;
}


 * {
	 margin: 0;
	 padding: 0;
	 box-sizing: border-box;
	 
}


html, body {
    /* height:100%; */
  }
  
  body {
    margin:0;
    padding:0;
  }
  



  


h1 {
    font-size: 7vw;
    text-align: center;
}
h3 {
    font-size: 5vw;
    text-align: center;
}

p {
    font-size: 1.5em;
    
}












/*! locomotive-scroll v3.5.4 | MIT License | https://github.com/locomotivemtl/locomotive-scroll */
html.has-scroll-smooth {
	overflow: hidden; }
  
  html.has-scroll-dragging {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none; }
  
  .has-scroll-smooth body {
	overflow: hidden; }
  
  .has-scroll-smooth [data-scroll-container] {
	min-height: 100vh; }
  
  .c-scrollbar {
	position: absolute;
	right: 0;
	top: 0;
	width: 12px;
	height: 100vh;
	transform-origin: center right;
	transition: transform 0.3s, opacity 0.3s;
	opacity: 0; }
	.c-scrollbar:hover {
	  transform: scaleX(1.45); }
	.c-scrollbar:hover, .has-scroll-scrolling .c-scrollbar, .has-scroll-dragging .c-scrollbar {
	  opacity: 1; }
  
  .c-scrollbar_thumb {
	position: absolute;
	top: 0;
	right: 0;
	background-color: rgb(253, 2, 2);
	opacity: 0.7;
	width: 8px;
	border-radius: 10px;

	margin: 2px;
	
	cursor: -webkit-grab;
	cursor: grab; }

	.has-scroll-dragging .c-scrollbar_thumb {
	  cursor: -webkit-grabbing;
	  cursor: grabbing; }












 .container {
	 background: #f7f3f3;
}



 .container .hero {
	 /* display: flex; */
	 /* grid-template-columns: 20% 80%; */
	 /* height: 100vh; */
}
 /* .container .hero .copy {
	 display: grid;
	 align-content: center;
	 padding: 0 1rem;
	 height: 100%;
}
 .container .hero .copy blockquote {
	 font-size: 6vmin;
	 font-weight: 300;
}
 .container .hero .copy blockquote span {
	 font-style: italic;
	 font-weight: 400;
}
 .container .hero .copy blockquote cite {
	 font-weight: 300;
	 font-style: italic;
	 font-size: 4.5vmin;
	 display: block;
	 padding: 8px 0;
} */
 /* .container .hero .image-wrapper {
	 height: 100vh;
	 width: 100%;
} */
 .container .hero .image-wrapper img {
	 height: 100%;
	 width: 100%;
	 object-fit: cover;
}



/* .video { 
    display: block;

	 grid-template-columns: 60% 40%;
	 height: 100vh;
    padding-top: 3em;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit:stretch;
    object-position: center;

   
    
} */



/* div#fashion {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
} */







/* .video-wrapper {
    position: fixed;
    top: 0; 
    right: 0; 
    bottom: 0; 
    left: 0;
    overflow: hidden;
 }
 
 .video-wrapper >  #player {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor:pointer;
 }
 
 @media (min-aspect-ratio: 16/9) {
     #video-wrapper >  #player { 
        height: 300%; 
        top: -100%; 
     }
 }
 
 @media (max-aspect-ratio: 16/9) {
     #video-wrapper > #player { 
        width: 300%; 
        left: -100%; 
     }
 } */






 .container .section-0 {
	 margin-top: 20vh;
	 text-align: center;
}
 .container .section-0 p {
	 font-size: 4vw;
}
 .container .section-0 cite {
	 font-size: 3vw;
}
 .container .section-1 {
	 height: 100vh;
	 display: grid;
	 place-content: center;
	 padding: 0 1rem;
}
 .container .section-1 .image-mask {
	 width: 80vw;
	 height: 80vh;
	 background: url('img/landing/all.png');
	 background-size: cover;
	 background-position-x: 50%;
	 background-position-y: 90%;
	 background-size: 100%;
}
 .container .section-1 .image-mask img {
	 height: 100%;
	 width: 100%;
	 object-fit: cover;
}
 .container .section-1 blockquote {
	 font-size: 9vmin;
	 font-weight: 300;
}
 .container .section-1 blockquote span {
	 font-style: italic;
	 font-weight: 400;
}
 .container .section-1 blockquote cite {
	 font-weight: 300;
	 font-style: italic;
	 font-size: 7.5vmin;
	 display: block;
	 padding: 8px 0;
}


 .container .section-2 {
	 margin-top: 10vh;
	 height: calc(300vh + 32px + 16px);
	 display: grid;
	 grid-template-columns: 1fr 2fr;
	 grid-template-columns: 40% 60%;
}
 .container .section-2 blockquote {
	 font-size: 5vmin;
	 padding: 16px 16px 0 16px;
}
 .container .section-2 blockquote cite {
	 display: block;
}
 .container .section-2 .images-container {
	 display: grid;
	 grid-template-columns: repeat(2, 1fr);
	 padding: 0 8px;
	 gap: 8px;
	 margin-top: 16px;
}
 .container .section-2 .images-container img {
	 width: 100%;
	 max-height: 75vh;
	 height: 100%;
	 align-self: stretch;
	 object-fit: cover;
}


.container .section-3 {
    
   
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-columns: 60% 40%;
    /* grid-template-rows: 2fr 2fr 2fr; */
}
.container .section-3 blockquote {
    
   
    font-size: 1vmin;
    padding: 16px 16px 0 16px;
}
.container .section-3 blockquote cite {
    display: block;
}
.container .section-3 .images-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 8px;
    gap: 8px;
    margin-top: 16px;
}
.container .section-3 .images-container img {
    height: calc(300vh + 32px + 16px);
    width: 100%;
    max-height: 80vh;
    height: 100%;
    align-self: stretch;
    object-fit: cover;
}





.container .section-4 {
    height: calc(150vh + 32px + 16px);
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-columns: 40% 60%;
}
.container .section-4 blockquote {
    font-size: 5vmin;
    padding: 16px 16px 0 16px;
}
.container .section-4 blockquote cite {
    display: block;
}
.container .section-4 .images-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 8px;
    gap: 8px;
    margin-top: 16px;
}
.container .section-4 .images-container img {
    width: 100%;
    max-height: 75vh;
    height: 100%;
    align-self: baseline;
    object-fit: cover;
}





 .container .section-5 {
	 height: 100vh;
	 display: grid;
	 grid-template-columns: 40% 60%;
	 position: relative;
}
 .container .section-5 .image-wrapper {
	 height: 100%;
	 width: 100%;
}
 .container .section-5 .image-wrapper img {
	 height: 100%;
	 width: 100%;
	 object-fit: cover;
}
 .container .section-5 .copy {
	 font-size: 2vmin;
	 height: 100vh;
	 width: 100%;
	 display: grid;
	 align-content: center;
}
 .container .section-5 .copy p {
	 margin: 0 32px;
}
 .container .section-5 .copyright {
	 position: absolute;
	 bottom: 5%;
	 left: 50%;
	 font-size: 4vmin !important;
}
 






/* nav */
/* @import url('https://fonts.googleapis.com/css?family=Rubik+Mono+One|Roboto+Mono:400,700&display=swap'); */
:root {
	--color-primary: #18181a;
	--color-secondary: #75757c;
	--color-dark: #ff0101;
	--color-light: #f5f5f5;
	--td: 150ms;
	--te: cubic-bezier(0.215, 0.61, 0.355, 1);
}
/* html, body {
	height: 100%;
}
body {
	color: var(--color-dark);
	font-family: var(--font-family-primary);
	overflow-x: hidden;
	position: relative;
}
h1 {
	font-size: calc(1.5rem + 4vmin);
	font-weight: 700;
	margin-bottom: 2rem;
}
p {
	line-height: 1.4;
}
a {
	font-weight: 700;
}
.page-container {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	justify-content: center;
	margin: 0 auto;
	max-width: 45rem;
	padding: 1rem;
}
.page-container > * + * {
	margin-top: 1.5rem;
} */
.nav-main {
	align-items: center;
	display: flex;
	height: 100%;
	justify-content: center;
	left: -100%;
	position: fixed;
	transition: left 0s calc(var(--td) * 2), transform 0s calc(var(--td) * 2);
	width: 100%;
	z-index: 9999;
}
.nav-main::before, .nav-main::after {
	content: '';
	background-color: var(--color-primary);
	opacity: 0.97;
	height: 50%;
	left: 0;
	position: absolute;
	transform: translateX(-110%);
	transform-origin: 0 50%;
	transition: transform calc(var(--td) * 2) var(--td) var(--te);
	width: 100%;
	z-index: -100;
}
.nav-main::before {
	top: 0;
}
.nav-main::after {
	bottom: 0;
}
.nav-main .menu__item {
	opacity: 0;
	transform: translateX(-1rem);
	transition: opacity var(--td) var(--te), transform var(--td) var(--te);
}
[id="main-navigation-toggle"] {
	opacity: 0;
	position: fixed;
	top: -100%;
}
[id="main-navigation-toggle"] ~ label {
	cursor: pointer;
	position: fixed;
	right: 1rem;
	top: 1rem;
	z-index: 99999;
}
[id="main-navigation-toggle"] ~ label span {
	display: block;
	height: 2rem;
	padding: 0.5rem;
	position: relative;
	transition: transform calc(var(--td) * 3) var(--te);
	width: 3rem;
}
[id="main-navigation-toggle"] ~ label span::before, [id="main-navigation-toggle"] ~ label span::after {
	background-color: var(--color-dark);
	bottom: 0;
	content: '';
	height: 6px;
	left: 0;
	margin: auto;
	position: absolute;
	right: 0;
	transition: transform calc(var(--td) * 3) var(--te);
	top: 0;
	width: calc(100% - 1rem);
}
[id="main-navigation-toggle"] ~ label span::before {
	transform: rotate(0) translateY(-100%);
}
[id="main-navigation-toggle"] ~ label span::after {
	transform: rotate(0) translateY(100%);
}
[id="main-navigation-toggle"]:checked ~ label span {
	transform: rotate(1turn);
}
[id="main-navigation-toggle"]:checked ~ label span::before {
	transform: rotate(45deg);
}
[id="main-navigation-toggle"]:checked ~ label span::after {
	transform: rotate(-45deg);
}
[id="main-navigation-toggle"]:checked ~ .nav-main {
	left: 0;
	transition: transform 0s;
}
[id="main-navigation-toggle"]:checked ~ .nav-main::before, [id="main-navigation-toggle"]:checked ~ .nav-main::after {
	transform: translateX(0);
	transition-delay: 0s;
}
[id="main-navigation-toggle"]:checked ~ .nav-main::after {
	transition-delay: calc(var(--td) / 2);
}
[id="main-navigation-toggle"]:checked ~ .nav-main .menu__item {
	opacity: 1;
	transform: translateX(0);
	transition: opacity calc(var(--td) * 2) var(--te), transform calc(var(--td) * 2) var(--te);
}
[id="main-navigation-toggle"]:checked ~ .nav-main .menu__item:nth-child(1) {
	transition-delay: calc(var(--td) * 2 * (1 * 0.25));
	z-index: -1;
}
[id="main-navigation-toggle"]:checked ~ .nav-main .menu__item:nth-child(2) {
	transition-delay: calc(var(--td) * 2 * (2 * 0.25));
	z-index: -2;
}
[id="main-navigation-toggle"]:checked ~ .nav-main .menu__item:nth-child(3) {
	transition-delay: calc(var(--td) * 2 * (3 * 0.25));
	z-index: -3;
}
[id="main-navigation-toggle"]:checked ~ .nav-main .menu__item:nth-child(4) {
	transition-delay: calc(var(--td) * 2 * (4 * 0.25));
	z-index: -4;
}
[id="main-navigation-toggle"]:checked ~ .nav-main .menu__item:nth-child(5) {
	transition-delay: calc(var(--td) * 2 * (5 * 0.25));
	z-index: -5;
}
.menu {
	position: relative;
	text-align: center;
	z-index: 1;
}
.menu > .menu__item {
	font-family: var(--font-family-secondary);
	font-size: 10vmin;
}
.submenu {
	left: 0;
	opacity: 0;
	position: absolute;
	transform: translateY(-10%);
	top: 100%;
	width: 100%;
	visibility: hidden;
	z-index: 2;
}
.submenu .menu__item {
	font-family: var(--font-family-primary);
	font-size: 3.5vmin;
	width: 100%;
}
.submenu .menu__link {
	color: var(--color-secondary);
	text-shadow: 1px 1px 0 var(--color-primary), 2px 2px 0 var(--color-primary);
}
.submenu .menu__link::before, .submenu .menu__link::after {
	display: none;
}
.menu__item {
	display: block;
	position: relative;
}
.menu__item:hover .menu__link::before, .menu__item:hover .menu__link::after {
	animation: blink 1s var(--td) steps(1, end) forwards infinite;
	transform: translateX(calc(100% - 0.5rem));
	transition-duration: calc(var(--td) * 3);
}
.menu__item:hover .menu__link::after {
	transition-delay: calc(var(--td) / 2);
}
.menu__item:hover .submenu {
	opacity: 1;
	transform: translateY(0);
	transition: transform calc(var(--td) * 2) calc(var(--td) * 3) var(--te), opacity calc(var(--td) * 2) calc(var(--td) * 3) var(--te), visibility 0s calc(var(--td) * 3);
	visibility: visible;
}
.menu__link {
	color: var(--color-dark);
	display: inline-block;
	font-weight: normal;
	overflow: hidden;
	padding: 0.5rem 1rem 0.125rem;
	position: relative;
	text-decoration: none;
	transition: color var(--td) var(--te), opacity var(--td) var(--te), transform var(--td) var(--te);
	z-index: 1;
}
.menu__link::before, .menu__link::after {
	content: '';
	background-color: var(--color-light);
	height: 50%;
	left: 0;
	position: absolute;
	transform: translateX(-110%);
	transform-origin: 0 50%;
	transition: transform 0s var(--te);
	width: 100%;
	z-index: -1;
}
.menu__link::before {
	top: 0;
}
.menu__link::after {
	bottom: 0;
}
.menu:not(:focus-within):not(:hover) .menu__item .menu__link {
	opacity: 1;
	transform: translate(0, 0);
}
.menu__item {
	--pull: 30%;
}
.menu__item .menu__link {
	opacity: 0.25;
	transition-duration: calc(var(--td) * 3);
	transform: translate(0, calc(var(--pull) * -1));
}
.menu__item .submenu .menu__link {
	opacity: 1;
}
.menu__item:hover > .menu__link {
	color: var(--color-secondary);
	opacity: 1;
	transform: translate(0, 0);
}
.menu__item:hover > .menu__link:hover {
	color: var(--color-light);
	transition-delay: 0s;
}
.menu__item:hover ~ .menu__item > .menu__link {
	transition-duration: calc(var(--td) * 3);
	transform: translate(0, var(--pull));
}
@keyframes blink {
	50%, 100% {
		opacity: 0;
   }
}
